html,
body {
   padding: 0;
   margin: 0;
   font-family: 'Inter', sans-serif;
   color-scheme: light dark;
}

* {
   box-sizing: border-box;
}


.content{
    padding: 0 1rem;
    position: relative;
    top: 0;
}

::selection{
    color: white;
    background: blue;
}

img{
    object-fit:fill!important;
    /* max-width: none; */
}